.input-date {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #2e2e2e;
    box-sizing: border-box;
}

.select-day {
    background-color: #f51423;
}

.select-day:hover {
    background-color: rgba(245, 20, 35, 0.8);
}